[Unit]
Description=Count bytes in kafka topics

[Service]
ExecStart=/usr/bin/events-counter -config /etc/events-counter/config.yml
Restart=always
User=events-counter
Group=events-counter

[Install]
WantedBy=multi-user.target
